.card {
    max-width: 380px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    position: relative;
    &::before {
        content: "новинка";
        display: block;
        position: absolute;
        top: 18px;
        left: 21px;
        background: #fdcff3;
        border-radius: 8px;
        width: 111px;
        height: 25px;
        font-family: "ArialRegular", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #2f2f2f;
        text-transform: uppercase;
    }
    &::after {
        content: "последний";
        display: block;
        position: absolute;
        top: 18px;
        left: 148px;
        text-transform: uppercase;
        width: 136px;
        height: 25px;
        background: #ffcf56;
        border-radius: 8px;
        font-family: "ArialRegular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #2f2f2f;
    }

    &__img {
        max-width: 380px;
        width: 100%;
    }
    &__content {
        padding: 24px;
        // background-color:white;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    &__title {
        font-family: "ArialBold", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    &__text {
        font-family: "ArialRegular", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 72px;
    }
    &__btn {
        cursor: pointer;
        max-width: 332px;
        width: 100%;
        height: 48px;
        border: 2px solid #42940f;
        border-radius: 8px;
        font-family: "ArialBold", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #42940f;
        position:absolute;
   bottom:0;
   width:100%;
        &:hover {
            color: #ffffff;
            background: #42940f;
            border: 2px solid #42940f;
            border-radius: 8px;
            transition: 1s;
        }
        &:active {
            background: #1f5200;
            border: 2px solid #1f5200;
            border-radius: 8px;
            color: #ffffff;
            transition: 0.1ms;
        }
        &:disabled {
            background: #4e4e4e;
            border: 1px solid #4e4e4e;
            border-radius: 8px;
            border-radius: 8px;
            color: #ffffff;
        }
    }
}
