@font-face {
    font-family: 'ArialRegular';
    src: url(../../fonts/ArialMT.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'ArialBold';
    src: url(../../fonts/Arial-BoldMT.ttf) format('truetype');
    font-weight: 900;
    font-display: swap;
}


